STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
POSTGRES_PASSWORD=S3cret
POSTGRES_USER=citizix_user
POSTGRES_DB=medusa_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_URL=postgres://<USER>:<PASSWORK>@<HOST>:<PORT>/<DATABASE>
AWS_ACCESS_KEY_ID=fake
AWS_SECRET_ACCESS_KEY=fake
AWS_REGION=fake
AWS_ENDPOINT_URL=fake
# AWS_ENDPOINT_URL=http://host.docker.internal:4566 # Optional for standard AWS S3
S3_IMAGE_BUCKET=
S3_BACKUP_BUCKET=
S3_BACKUP_PATH=